@import 'src/scss/partials/_mixins';
@import 'src/scss/partials/_variables';
@import 'src/scss/partials/_media-queries';

.info {
  position: relative;
  padding: 120px 10px;

  &::before {
    content: 'C';
    position: absolute;
    top: 0px;
    right: 30px;
    font-family: $playFairDisplay;
    font-size: 300px;
    color: rgba(227, 160, 98, 0.22);
    font-weight: bold;
    @include transform(translateY(-50%));

    @include media-md {
      font-size: 150px;
      right: 10px;
    }
  }

  @include media-md {
    padding: 60px 10px;
  }

  .slogan {
    position: absolute;
    right: 30px;
    bottom: 70px;
    color: #e3a062;
    font-family: $playFairDisplay;
    font-size: 14px;
    @include transform(rotate(-90deg));

    @include media-lg {
      right: 70px;
      bottom: 30px;
      @include transform(rotate(0));
    }

    @include media-md {
      bottom: 15px;
      font-size: 18px;
    }

    &::after {
      content: '';
      width: 50px;
      height: 2px;
      position: absolute;
      right: -60px;
      bottom: 7px;
      background-color: #e3a062;

      @include media-lg {
        right: -60px;
        bottom: 7px;
      }

      @include media-md {
        bottom: 8px;
      }
    }
  }
}

.info-wrapper {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  @include media-md {
    flex-direction: column;
  }

  .img-wrapper {
    max-width: 650px;
    max-height: 550px;

    @include media-md {
      max-width: 550px;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .company-info {
    max-width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;

    @include media-md {
      max-width: 550px;
      order: -1;
      margin-left: 0;
      margin-bottom: 20px;
      text-align: center;
    }

    .title {
      position: relative;
      margin-bottom: 25px;
      color: #000;
      font-family: $playFairDisplay;
      font-size: 60px;
      font-weight: bold;

      &::after {
        content: '';
        width: 47px;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: #e3a062;
      }

      @include media-md {
        font-size: 70px;
        text-align: center;
      }

      @include media-sm {
        font-size: 76px;
      }
    }

    .description {
      height: 230px;
      margin-bottom: 25px;
      padding-right: 30px;
      overflow: auto;

      @include media-md {
        padding-right: 20px;
      }

      @include media-sm {
        padding-right: 10px;
      }

      &::-webkit-scrollbar {
        width: 2px;
        background-image: linear-gradient(90deg, transparent 50%, #b4b4b4 50%);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: #e3a062;
      }

      p {
        margin-bottom: 25px;
        color: #000;
        font-family: $muli;
        font-size: 16px;
        line-height: 1.5;
        text-align: left;

        @include media-md {
          font-size: 20px;
        }
  
        @include media-sm {
          font-size: 24px;
        }
      }

      p:first-letter {
        margin-right: 10px;
        float: left;
        color: #e3a062;
        font-size: 48px;
        line-height: 48px;

        @include media-md {
          font-size: 58px;
          line-height: 58px;
        }
  
        @include media-sm {
          font-size: 72px;
          line-height: 72px;
        }
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    .btn-more {
      width: 190px;
      height: 50px;
      display: block;
      border: 2px solid #e3a062;
      background-color: transparent;
      color: #000;
      font-family: $muli;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      line-height: 50px;
      cursor: pointer;
      @include transition(all, .1s, ease-in-out);

      &:hover,
      &:focus {
        font-size: 33px;
      }

      @include media-md {
        font-size: 20px;
      }

      @include media-sm {
        font-size: 24px;
      }
    }
  }
}