@import 'src/scss/partials/_mixins';
@import 'src/scss/partials/_variables';
@import 'src/scss/partials/_media-queries';

.projects {
  width: 100%;
  position: relative;
  padding: 120px 0;

   &::before {
    content: 'P';
    position: absolute;
    top: 79px;
    right: 30px;
    font-family: $playFairDisplay;
    font-size: 300px;
    color: rgba(227, 160, 98, 0.22);
    font-weight: bold;
    z-index: -1;

    @include media-md {
      font-size: 150px;
      top: 180px;
      right: 10px;
    }

    @include media-sm {
      top: 210px;
    }
  }

  .slogan {
    position: absolute;
    right: 30px;
    bottom: 70px;
    color: #e3a062;
    font-family: $playFairDisplay;
    font-size: 14px;
    @include transform(rotate(-90deg));

    @include media-lg {
      right: 70px;
      bottom: 30px;
      @include transform(rotate(0));
    }

    @include media-md {
      bottom: 15px;
      font-size: 18px;
    }

    &::after {
      content: '';
      width: 50px;
      height: 2px;
      position: absolute;
      right: -60px;
      bottom: 7px;
      background-color: #e3a062;

      @include media-lg {
        right: -60px;
        bottom: 7px;
      }

      @include media-md {
        bottom: 8px;
      }
    }
  }

  .title {
    position: relative;
    margin-bottom: 90px;
    color: #000;
    font-family: $playFairDisplay;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
  
    &::after {
      content: '';
      width: 47px;
      height: 2px;
      position: absolute;
      left: 50%;
      bottom: -20px;
      background-color: #e3a062;
      @include transform(translateX(-50%));
    }

    @include media-md {
      font-size: 70px;
    }

    @include media-sm {
      font-size: 76px;
    }
  }

  .slider {
    height: 750px;
    position: relative;
    margin-bottom: 50px;
    overflow: hidden;
    
    @include media-md {
      height: 550px;
    }

    @include media-sm {
      height: 400px;
    }

    .row {
      height: 350px;
      display: flex;
      position: absolute;
      top: 0;
      left: 0;

      &:last-child {
        top: 400px;

        @include media-md {
          top: 300px;
        }

        @include media-md {
          top: 250px;
        }
      }

      @include media-lg {
        height: 300px;
      }

      @include media-md {
        height: 250px;
      }

      @include media-sm {
        height: 200px;
      }

      .slide {
        height: 80%;
        margin: 0 25px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        img {
          height: 100%;
          display: block;
          @include objectFit(cover);
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
      }
    }

    .row:nth-child(1) {
      align-items: flex-end;

      .slide:nth-child(3n+3) {
        height: 100%;
      }
    }

    .row:nth-child(2) {
      align-items: flex-start;

      .slide:nth-child(2n+2) {
        height: 100%;
      }
    }
  }

  .btn-more {
    width: 190px;
    height: 50px;
    display: block;
    margin: 0 auto;
    border: 2px solid #e3a062;
    background-color: transparent;
    color: #000;
    font-family: $muli;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    @include transition(all, .2s, linear);

    &:hover,
    &:focus {
      border-color: #ab7a4a;
      color: #ab7a4a;
    }

    @include media-md {
      font-size: 20px;
    }

    @include media-sm {
      font-size: 24px;
    }
  }
}