@import 'src/scss/partials/_mixins';
@import 'src/scss/partials/_variables';
@import 'src/scss/partials/_media-queries';

.services {
  width: 100%;
  position: relative;
  padding: 120px 10px 0 10px;
  background: linear-gradient(rgba(0, 0, 0, .95), rgba(0, 0, 0, .95)), 
              url('/src/img/services/services-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include media-md {
    padding: 60px 10px 0 10px;
  }

  &::before {
    content: 'S';
    position: absolute;
    top: 0px;
    left: 30px;
    font-family: $playFairDisplay;
    font-size: 300px;
    color: rgba(227, 160, 98, 0.22);
    font-weight: bold;
    z-index: 0;
    @include transform(translateY(-50%));

    @include media-md {
      font-size: 150px;
      left: 10px;
    }
  }

  .slogan {
    position: absolute;
    left: 30px;
    bottom: 70px;
    color: #e3a062;
    font-family: $playFairDisplay;
    font-size: 14px;
    @include transform(rotate(-90deg));

    @include media-lg {
      display: none;
    }

    &::after {
      content: '';
      width: 50px;
      height: 2px;
      position: absolute;
      right: -60px;
      bottom: 7px;
      background-color: #e3a062;
    }
  }
}

.services-wrapper {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  z-index: 1;

  > .title {
    position: relative;
    margin-bottom: 50px;
    color: #fff;
    font-family: $playFairDisplay;
    font-size: 60px;
    font-weight: bold;

    @include media-md {
      align-self: center;
      margin-bottom: 25px;
      font-size: 70px;
    }

    @include media-sm {
      font-size: 76px;
    }
  
    &::after {
      content: '';
      width: 47px;
      height: 2px;
      position: absolute;
      left: 0;
      bottom: -10px;
      background-color: #e3a062;
    }
  }

  .btn-learn-more {
    display: block;
    position: absolute;
    top: 50px;
    right: 0px;
    padding: 5px 0;
    border-bottom: 1px solid #e3a062;
    font-family: $muli;
    font-size: 24px;
    text-transform: uppercase;

    @include media-md {
      position: static;
      align-self: center;
      margin-bottom: 10px;
    }

    @include media-sm {
      font-size: 30px;
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include transform(translateY(10%));

    @include media-lg {
      margin: -30px -10px 0 -10px;
    }

    @include media-xs {
      margin: -40px -10px 0 -10px;
      @include transform(translateY(5%));
    }

    .card {
      width: calc(100% / 3 - 25px);
      position: relative;

      &:hover .hover-block {
        display: flex;
      }

      &:hover .img-title {
        display: none;
      }

      @include media-lg {
        width: calc(100% / 3 - 20px);
        margin: 0 10px;
      }

      @include media-md {
        width: calc(100% / 2 - 20px);
        margin-bottom: 20px;

        &:last-child {
          margin: 0 auto;
        }
      }

      @include media-xs {
        width: 100%;

        &:last-child {
          margin: 0 10px;
        }
      }

      .img-wrapper {
        position: relative;
        padding-top: 100%;

        &:after {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          background-color: rgba(0, 0, 0, .3);
        }

        img {
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          @include objectFit(cover);
        }
      }

      .img-title {
        position: absolute;
        bottom: 25px;
        left: 50%;
        color: #fff;
        font-family: $muli;
        font-size: 26px;
        @include transform(translateX(-50%));

        @include media-sm {
          font-size: 30px;
        }
      }

      .hover-block {
        width: 100%;
        height: 100%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        padding: 30px 70px;
        outline: 1px solid #e3a062;
        outline-offset: -20px;
        background: rgba(0, 0, 0, .7);

        @include media-lg {
          padding: 30px;
          outline-offset: -10px;
        }

        @include media-sm {
          padding: 15px;
        }

        @include media-sm {
          padding: 20px;
        }

        .title {
          position: relative;
          margin-bottom: auto;
          font-family: $muli;
          font-size: 26px;

          @include media-md {
            font-size: 30px;
          }

          @include media-sm {
            font-size: 36px;
          }

          &::after {
            content: '';
            width: 36px;
            height: 2px;
            position: absolute;
            bottom: -10px;
            left: 50%;
            background-color: #e3a062;
            @include transform(translateX(-50%));
          }
        }

        .description {
          font-family: $muli;
          font-size: 16px;
          line-height: 1.5;
          text-align: center;

          @include media-md {
            font-size: 20px;
          }
    
          @include media-sm {
            font-size: 24px;
          }
        }

        .btn-read-more {
          height: 30px;
          position: relative;
          margin-top: auto;
          color: #e3a062;
          font-family: $muli;
          font-size: 24px;
          text-transform: uppercase;
          line-height: 30px;

          &:hover::after,
          &:focus::after {
            background-color: #fff;
          }

          &::after {
            content: '';
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #e3a062;
            @include transition(all, .2s, ease-in-out);
          }
        }
      }
    }
  }
}