@import 'src/scss/partials/_mixins';
@import 'src/scss/partials/_variables';
@import 'src/scss/partials/_media-queries';

.testimonials {
  width: 100%;
  position: relative;
  padding: 150px 10px;
  background: linear-gradient(rgba(0, 0, 0, .95), rgba(0, 0, 0, .95)),
              url('/src/img/testimonials/ChevroletCamaro.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before {
    content: 'T';
    position: absolute;
    top: 0px;
    left: 30px;
    font-family: $playFairDisplay;
    font-size: 300px;
    color: rgba(227, 160, 98, 0.22);
    font-weight: bold;
    z-index: 0;
    @include transform(translateY(-50%));

    @include media-md {
      font-size: 150px;
      left: 10px;
    }
  }

  @include media-md {
    padding: 60px 10px;
  }

  &::after {
    content: '&';
    position: absolute;
    top: 20%;
    left: 20%;
    font-family: $playFairDisplay;
    font-size: 100px;
    color: rgba(227, 160, 98, 0.2);
    font-weight: bold;
    z-index: 0;
  }

  .slogan {
    position: absolute;
    left: 30px;
    bottom: 70px;
    color: #e3a062;
    font-family: $playFairDisplay;
    font-size: 14px;
    @include transform(rotate(-90deg));

    @include media-lg {
      left: 70px;
      bottom: 30px;
      @include transform(rotate(0));
    }

    @include media-md {
      bottom: 15px;
      font-size: 18px;
    }

    &::after {
      content: '';
      width: 50px;
      height: 2px;
      position: absolute;
      left: 95px;
      bottom: 7px;
      background-color: #e3a062;

      @include media-lg {
        left: -60px;
        bottom: 7px;
      }

      @include media-md {
        bottom: 8px;
      }
    }
  }
}

.testimonials-wrapper {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  .btn {
    min-width: 21px;
    height: 40px;
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover,
    &:focus {
      svg {
        fill: #fff;
      }
    }

    svg {
      position: absolute;
      top: 0;
      left: -9px;
      fill: #808080;
      @include transition(all, .3s, ease-in-out);
    }
  }

  .slider {
    width: 100%;
    display: flex;
    max-width: 770px;
    position: relative;
    margin: 0 10px;
    text-align: center;
    overflow: hidden;

    .slide {
      width: 100%;

      .testimonial {
        position: relative;
        margin-bottom: 60px;
        font-family: $playFairDisplay;
        font-size: 36px;
        font-style: italic;

        &::after {
          content: '';
          width: 130px;
          height: 2px;
          position: absolute;
          bottom: -30px;
          left: 50%;
          background-color: #de9045;
          @include transform(translateX(-50%));
        }
      }

      .name {
        margin-bottom: 10px;
        font-family: $muli;
        font-size: 24px;

        @include media-md {
          font-size: 26px;
        }
  
        @include media-sm {
          font-size: 28px;
        }
      }

      .car {
        font-family: $muli;
        font-size: 14px;

        @include media-md {
          font-size: 16px;
        }
  
        @include media-sm {
          font-size: 18px;
        }
      }
    }

    .hidden-slide {
      position: absolute;
      transform: translateX(100%);
    }

    .testimonials-prev-slide-hide {
      position: absolute;
      @include animation(testimonials-prev-slide-hide, .5s, ease-out, 1);
      @include animationFillMode(forwards);
    }

    .testimonials-prev-slide-show {
      position: static;
      @include animation(testimonials-prev-slide-show, .5s, ease-out, 1);
      @include animationFillMode(forwards);
    }

    .testimonials-next-slide-hide {
      position: absolute;
      @include animation(testimonials-next-slide-hide, .5s, ease-out, 1);
      @include animationFillMode(forwards);
    }

    .testimonials-next-slide-show {
      position: static;
      @include animation(testimonials-next-slide-show, .5s, ease-out, 1);
      @include animationFillMode(forwards);
    }
  }
}

@include keyframes(testimonials-prev-slide-hide) {
  from {
    opacity: 1;
    @include transform(translateX(0));
  }

  to {
    opacity: 0;
    @include transform(translateX(100%));
  }
}

@include keyframes(testimonials-prev-slide-show) {
  from {
    opacity: 0;
    @include transform(translateX(-100%));
  }

  to {
    opacity: 1;
    @include transform(translateX(0));
  }
}

@include keyframes(testimonials-next-slide-hide) {
  from {
    opacity: 1;
    @include transform(translateX(0));
  }

  to {
    opacity: 0;
    @include transform(translateX(-100%));
  }
}

@include keyframes(testimonials-next-slide-show) {
  from {
    opacity: 0;
    @include transform(translateX(100%));
  }

  to {
    opacity: 1;
    @include transform(translateX(0));
  }
}